<div class="col s12 tag-div">
  <div class="user-pic center-align">
    <a href="{{site.github_profile}}" target="_blank"><img class="circle hoverable z-depth-1" src="{{site.baseurl}}/assets/res/user.jpg"></a>
  </div>
  <div class="user-content">
    <p>
      Hi, I am a PhD candidate in Computer Engineering department at <a target="_blank" href="http://www.umass.edu/"> University of Massachusetts Amherst  </a>. I received my MSc. degree in Computer Science at <a target="_blank" href="http://www.umass.edu/"> University of Massachusetts Amherst  </a>. I also obtained a MEng. degree in Electrical and Computer Engineering  at  <a target="_blank" href="http://en.ustc.edu.cn/"> University of Science & Technology of China </a>, and BEng. degree in Electrical and Computer Engineering at  <a target="_blank" href="http://english.neu.edu.cn/"> Northeastern University</a>.
    
    </p> 
    
    <p>
      My research areas:  <br />
      Machine Learning, Data Analytics, Graph Analytics, Video Analytics   
     </p>
  </div>
</div>

 